.header-container {
  width: calc(100% - 100px);
  padding: 30px 50px;
  border-bottom: 1px dotted #80808090;
  align-items: end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .left-header-wrapper {
    gap: 50px;
    .logo {
      margin-left: 40px;
      position: relative;
      .circle {
        width: 50px;
        height: 50px;
        border-radius: 20px;
        left: -40px;
        z-index: 1;
        .icon {
          position: absolute;
          font-size: 4rem;
        }
      }
      h1 {
        font-weight: 900;
        span {
          font-size: 0.7rem;
        }
      }
    }
    .navs {
      ul {
        gap: 20px;
        li {
          text-transform: uppercase;
          list-style: none;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }

  .right-header-wrapper {
    .search-box {
      width: 350px;
      height: 40px;
      padding: 5px;
      position: relative;
      border-radius: 10px;
      input {
        width: calc(100% - 10px);
        height: 100%;
        padding-left: 10px;
        background: transparent;
        outline: none;
        border: none;
        color: inherit;
        font-size: 1rem;
      }
      .keys {
        gap: 2px;
        margin-right: 10px;
        .key {
          padding: 5px 10px;
          font-size: 0.6rem;
          background: #8080804d;
          border-radius: 5px;
          font-weight: 600;
        }
      }
    }
    .btns {
      gap: 5px;
      margin-left: 10px;
      button {
        width: 150px;
        height: 48px;
        border-radius: 10px;
        border: none;
        text-transform: uppercase;
        font-weight: 600;
        background: #eee;
        color: black;
        font-weight: 700;
        cursor: pointer;
        span {
          width: 38px;
          height: 38px;
          border: 1px solid rgba($color: #80808090, $alpha: 1);
          border-radius: 10px;
        }
      }
    }
    .btn-menu {
      gap: 5px;
      margin-left: 20px;
      cursor: pointer;
      .bars {
        width: 30px;
        height: 2px;
        background: #80808090;
        transition: 0.3s;
      }
      .bars:nth-child(2) {
        width: 15px;
        margin-left: 5px;
      }
    }
  }
  .main-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    // backdrop-filter: blur(2px);
    z-index: 10000000;
    .main-menu-container {
      width: 350px;
      height: 98vh;
      position: absolute;
      left: 0;
      transition: 0.5s;
      animation: animateSide 300ms linear;
      box-shadow: 0 0 5px #80808090;
      justify-content: start;
      padding-top: 2vh;
      .top-profile {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        height: 180px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        align-items: center;
        .avatar {
          position: relative;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: white;
            z-index: 1;
          }

          .upload {
            width: 60px;
            height: 60px;
            border: 1px dashed #80808090;
            border-radius: 50%;
            cursor: pointer;
          }
          .user-info {
            h3 {
              font-weight: 400;
              font-size: 0.9rem;
              text-transform: uppercase;
              margin-top: 10px;
            }

            h4 {
              font-weight: 600;
              font-size: 0.8rem;
              text-transform: uppercase;
            }
          }
        }
        .premium-text {
          padding: 8px 15px;
          background: blueviolet;
          font-size: 0.6rem;
          position: absolute;
          top: 10px;
          left: 10px;
          font-weight: 600;
          color: white;
          border-radius: 10px;
          text-transform: uppercase;
          cursor: pointer;
          z-index: 10;
        }
        .edit-opt {
          position: absolute;
          width: 30px;
          height: 30px;
          border: 1px solid #80808090;
          border-radius: 50%;
          top: 10px;
          right: 10px;
          cursor: pointer;
          z-index: 10;
          font-size: 0.7rem;
        }
        .right-avatar {
          gap: 10px;
          .side {
            width: 50px;
            height: 50px;
            background: white;
            z-index: 10;
            border-radius: 10px;
            color: black;
            font-size: 1.3rem;
          }
          .side:last-child {
            background: white;
            color: black;
          }
        }
      }
      .top-profile::after {
        content: "";
        width: calc(100% + 50px);
        height: 125px;
        position: absolute;
        top: -50px;
        left: -50px;
      }
      .sidebar-menu {
        width: 100%;
        gap: 10px;
        button {
          transition: 0.3s;
          width: 90%;
          padding-left: 5%;
          padding-right: 5%;
          cursor: pointer;
          height: 50px;
          border: none;
          background: #eee;
          border: none;
          border-radius: 10px;
          text-transform: uppercase;
          font-weight: 500;
          .icon {
            font-size: 1.2rem;
          }
        }
        button:hover {
          scale: 1.05;
        }
      }
      .btn-logout {
        width: 90%;
        height: 50px;
        background: red;
        border-radius: 10px;
        color: white;
        justify-self: flex-end;
        position: absolute;
        bottom: 20px;
        border: none;
        font-weight: 600;
      }
    }
    @keyframes animateSide {
      from {
        left: -400px;
      }
      to {
        left: 0;
      }
    }
  }
}

.line {
  width: 50%;
  background: #80808090;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}
