.welcome-container {
  width: 90%;
  margin-left: 5%;
  justify-content: start;
  padding-top: 15vh;
  .suggestions {
    align-items: start;
    width: 100%;

    .suggestion-container {
      margin-top: 20px;
      width: 100% !important;
      gap: 10px;
      flex-wrap: wrap;
      .user-card {
        width: 295.5px;
        padding: 20px;
        border: 1px solid #80808090;
        border-radius: 10px;
        height: 300px;
        overflow: hidden;
        position: relative;
        gap: 10px;
        .bg-image {
          width: 100%;
          height: 170px;
          border-radius: 0 !important;
          z-index: -1;
          background: #222;
          position: absolute;
          overflow: hidden;
          border: none;
          top: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .top-profile {
          gap: 10px;
          // position: absolute;
          // top: 50px;
          img {
            align-items: start;
            width: 100px;
            height: 100px;
            border-radius: 50% !important;
            background: white;
          }
          .circle-avatar {
            width: 100px;
            height: 100px;
            background: linear-gradient(45deg, orange, blueviolet);
            border-radius: 50% !important;
          }
          h2 {
            font-size: 1rem;
            font-weight: 500;
            line-height: 10px;
            margin-top: 10px;
            text-transform: capitalize;
          }
          p {
            font-size: 0.8rem;
            text-align: justify;
            font-weight: 300;
          }
          h4 {
            text-transform: lowercase;
            font-weight: 400;
          }
        }
        h3 {
          font-size: 1rem;
          padding: 10px 20px;
          background: #eee;
          color: black;
          border-radius: 10px;
          text-transform: uppercase;
          font-size: 0.7rem;
          line-height: 10px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .btns {
          position: absolute;
          gap: 1px;
          bottom: 10px;
          margin-top: 20px;
          button {
            width: 270px;
            height: 40px;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 600;
            background: #eee;
            color: black;
            transition: 0.3s;
            border: 1px solid transparent;
          }
          button:last-child {
            width: 50px;
            font-size: 1.2rem;
          }

          button:hover {
            background: transparent;
            color: inherit;
            border: 1px solid #80808090;
          }
        }
      }
    }
  }
  .text {
    width: 100%;
    h1 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.5rem;
      span {
        font-weight: 900;
      }
    }
    button {
      width: 150px;
      height: 45px;
      background: #222;
      border: none;
      color: white;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .posts-container {
    width: 100%;
    min-height: 10px;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 100px;
    .line {
      width: 100%;
    }
    .post-wrapper {
      margin-top: 20px;
      gap: 10px;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      .post-card {
        // align-items: start;
        justify-content: start;
        width: 525px;
        padding: 20px;
        border: 1px solid #80808090;
        border-radius: 10px;
        align-items: start;
        .top-user {
          width: 100%;
          justify-content: space-between;
          .user-info-main {
            gap: 10px;
            img {
              width: 50px;
              height: 50px;
              border: 1px solid #80808090;
              border-radius: 50%;
            }
            .info {
              align-items: start;
              h2 {
                font-size: 1rem;
                text-transform: capitalize;
                font-weight: 700;
              }
              h3 {
                font-weight: 300;
                font-size: 0.8rem;
              }
            }
          }
          .btns {
            gap: 10px;
            button {
              width: 150px;
              height: 40px;
              border-radius: 10px;
              border: none;
              color: white;
              text-transform: uppercase;
              font-size: 0.7rem;
              font-weight: 600;
            }

            @keyframes popup {
              from {
                scale: 0.9;
              }
              to {
                scale: 1.05;
              }
            }
          }
        }
        h4 {
          margin-top: 20px;
          font-size: 0.9rem;
          font-weight: 400;
        }
        .image-main {
          margin-top: 20px;
          img {
            width: 525px;
            height: 300px;
            border-radius: 10px;
          }
        }
        .icons {
          width: 100%;
          justify-content: end;
          gap: 10px;
          .icon {
            p {
              font-size: 0.8rem;
              font-weight: 600;
            }
            width: 80px;
            height: 50px;
            justify-content: space-between;
            padding: 0 20px;
            padding-left: 30px;
            border: 1px solid #80808090;
            margin-top: 20px;
            border-radius: 10px;
            font-size: 1.2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
